.hide {
  display: none;
}
.hide_arrows {
  display: none;
}
#create_new, #edit_expense_section {
  max-width: 650px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid black;
}
#create_new h2 {
  text-align: center;
}
.close_ico {
  position: absolute;
  right: 5px;
  top: 5px;
}
.form_row {
  margin-bottom: 10px;
}
